body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  min-height: 100%;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 1px;
  box-sizing: border-box;
}
.Container {
  width: 80%;
  margin: 1.2rem auto;
}
.Box-pc {
  height: 35rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}
.Box-pc-content {
  border-color: rgb(0, 195, 255);
  border-style: solid;
  border-width: 0 1px;
  height: 100%;
  width: 48%;
}
.Title {
  font-weight: 300;
  font-size: 2rem;
  margin: 0;
}
.Pc-content {
  font-weight: 300;
  border-color: #808080;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  padding: 2rem;
  margin: 0;
  margin-top: 3rem;
}
.Box-pc-img {
  border-color: rgb(0, 195, 255);
  border-style: solid;
  border-width: 0 1px;
  height: 100%;
  width: 49%;
}
.Pc-image{
  width: 100%;
  height: auto;
}
.Sp-image{
  padding-top: 1rem;
  width: 100%;
  height: auto;
}
.Box-sp{
  height: 42rem;
  width: 38%;
  border-color: rgb(0, 195, 255);
  border-style: solid;
  border-width: 0 1px;
}
.Sp-content {
  font-weight: 300;
  padding: 2rem;
  margin: 0;
}

