body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #808080;
  min-height: 100%;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 1px;
  box-sizing: border-box;
}
.Container {
  width: 1020px;
  margin: 1.2rem auto;
}
.Box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Box-content{
  width: 480px;
  border-color: rgb(0, 195, 255);
  border-style: solid;
  border-width: 0 1px;
}
.Content{
  font-weight: 300;
  border-color: #808080;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  padding: 2rem;
  margin: 0;
  margin-top: 0.5rem;
}
.Box-image{
  width: 480px;
  border-color: rgb(0, 195, 255);
  border-style: solid;
  border-width: 0 1px;
}
.Image{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 992px) {
  /* For mobile phones: */
  .Container {
    width: 80%;
    margin: 0.2rem auto;
  }
  .Box{
    flex-direction: column-reverse;
  }
  .Content{
    border-style: none;
  }
  .Box-content{
    width: 100%;
  }
  .Box-image{
    width: 100%;
  }
}

